@media screen and (max-width: 1500px){
    .significance {
        padding-bottom: 2rem;
    }
    .skills span.notebook{
        margin-top: 12.5rem;
    }

    .red_field{
        padding: 3.2rem 0 4rem 0;
    }
    .header .slider {
        padding: 0 15px;
    }
    .significance span.letters{
        font-size: 23rem;
    }
    .skills span.letters{
        font-size: 18rem;
    }
    .groups span.letters{
        font-size: 20rem;
    }
}

@media screen and (max-width: 1350px){
    .inner{
        max-width: 950px;
    }
    .skills_inner .inner{
        max-width: 1000px;
    }
    h1 {
        font-size: 7rem;
    }
    .red_field {
        padding: 3.2rem 14rem 4rem 14rem;
    }
    .red_field .inner form div{
        width: 33%;
    }
    .red_field .inner form div.center{
        margin-top: 2.9rem;
    }
    .red_field input[type=submit] {
        width: 97%;
    }
    .significance span.letters{
        font-size: 15.9rem;
    }
    .significance span.image{
        background-size: 40% auto;
        margin-top: 140px;
    }
    .significance .inner .block div{
        margin-left: 40%;
        width: 62%;
    }
    .significance .inner .block h2 {
        margin: 19.5rem 0 6.6rem 0;
    }
    .significance {
        padding-bottom: 3rem;
    }
    .skills span.letters{
        font-size: 11rem;
        max-width: 1000px;
        margin-left: calc((100% - 970px)/2);
        left: 0;
    }
    .skills span.notebook {
        margin-top: 30rem;
    }
    .skills .confirm {
        margin: 65.5rem 0 10rem 9%;
        width: 41%;
    }
    .groups span.letters {
        font-size: 13.6rem;
        margin-left: calc((100% - 920px)/2);
        max-width: 950px;
    }
    .groups .inner .block div{
        margin-left: 53%;
        width: 47%;
    }
    .groups .inner .block .description{
        margin: 0;
        width: 100%;
    }
    .groups .inner .image{
        top: 20rem;
        width: 47%;
    }
    .practice span.letters{
        font-size: 15.6rem;
    }
    .groups::after {
        bottom: -7rem;
    }
    .practice h2{
        margin: 18rem 0 5rem 0;
    }
    .practice .description p{
        max-width: 42rem;
    }
    .comments .inner .description{
        padding-left: 15px;
    }
    .comments .inner .button{
        margin-left: 15px;
    }
}

@media screen and (max-width: 1200px){
    .practice .slider{
        max-width: 46rem;
        width: 100%;
    }
    .comments .text{
        padding: 3.2rem 7rem;
    }
    .header .slider{
        max-width: 850px;
        margin-left: calc((100% - 850px)/2);
    }
    .significance .inner .block h2 {
        margin: 16.5rem 0 6.6rem 5rem;
        font-size: 3.2rem;
    }
    .skills{
        padding-bottom: 5rem;
    }
    .skills_inner::after {
        bottom: -10rem;
    }
    .groups .inner::before{
        bottom: 0;
        left: -110px;
        top: 25rem;
        max-height: 1000px;
    }
}
@media screen and (max-width: 1050px){
    .skills span.letters{
        max-width: 100%;
        margin-left: 0;
    }
    .header h4, h5.subtitle{
        font-size: 2.3rem;
    }
    h1 {
        font-size: 5.5rem;
    }
    .join {
        width: 24rem;
        height: 5.4rem;
        border-radius: 2.7rem;
        line-height: 5.4rem;
        font-size: 1.7rem;
    }
    .header .slider {
        max-width: 750px;
        margin-left: calc((100% - 750px)/2);
    }
    .header{
        height: 700px;
    }
    .red_field h2, .skills h2, .groups h2, .practice h2,
    .comments .description h2{
        font-size: 5rem;
    }
    .red_field input[type=text], .red_field input[type=email],
    .red_field input[type=submit]{
        font-size: 1.7rem;
    }
    .red_field input[type=submit]{
        height: 5.4rem;
        line-height: 5.4rem;
    }
    .significance span.letters {
        font-size: 12.9rem;
    }
    .significance .inner .block h2, .skills .slider .description h4,
    .groups .description h4, .practice .description h4, .practice .top p{
        font-size: 3rem;
    }
    .significance .inner .block div {
        width: 60%;
    }
    .significance .vacancies {
        width: calc(54% - 3.5rem);
        margin-left: 46%;
    }
    .skills .slider .description p,
    .groups .description p,
    .practice .description p,
    .comments .description p{
        font-size: 2rem;
    }
    .skills .slider .description p{
        width: 41rem;
    }
    .button{
        width: 26.2rem;
        height: 5.4rem;
        line-height: 5.4rem;
        font-size: 1.7rem;
    }
    .skills .confirm{
        margin: 65.5rem 2% 3rem 7%;
    }
    .groups span.letters {
        font-size: 11.6rem;
        max-width: 100%;
        margin-left: 0;
        left: 0;
    }
    .practice span.letters {
        font-size: 12.6rem;
    }
    .practice h2 {
        margin: 15rem 0 5rem 0;
    }
    .practice .top h3{
        font-size: 10rem;
    }
    .practice .slider h3{
        font-size: 3.5rem;
    }
    .practice .slider{
        padding: 3rem 2.6rem 0 4.6rem;
        height: 20rem;
    }
    .groups .button, .comments .button,
    .practice .button {
        width: 27rem;
    }
    .comments span.letters{
        font-size: 15rem;
    }
    .comments .text {
        padding: 3.2rem 5rem;
    }
    .exp-inner{
        padding: 0 16px;
    }
    footer {
        padding: 28px 16px 25px 16px;
    }
}
@media screen and (max-width: 950px){
    .header .slider {
        max-width: 600px;
        margin-left: calc((100% - 600px)/2);
    }
    .groups .inner .image{
        left: 16px;
    }
}
@media screen and (max-width: 900px){
    .red_field {
        padding: 3.2rem 3rem 4rem 3rem;
    }
    .significance .vacancies {
        width: calc(75% - 3.5rem);
        margin-left: 25%;
    }
}
@media screen and (max-width: 800px){
    .groups .inner .image{
        width: 44%;
    }
    .groups .inner .block div {
        margin-left: 49%;
        width: 51%;
    }
}
@media screen and (max-width: 767px){
    h1 {
        font-size: 4rem;
    }
    .header h4, h5.subtitle {
        font-size: 1.8rem;
    }
    .header .slider .left,
    .header .slider .right{
        display: none;
    }
    .header .slider{
        text-align: center;
    }
    .header .slider .center{
        width: 80%;
    }
    .significance span.letters {
        font-size: 9.9rem;
    }
    .significance .inner .block div {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .significance .inner .block h2{
        margin: 12.5rem auto 45rem auto;
        max-width: 80%;
        text-align: center;
    }
    .significance .inner .block h2, .skills .slider .description h4, .groups .description h4, .practice .description h4, .practice .top p {
        font-size: 2.5rem;
    }
    .significance span.image {
        background-size: 60% auto;
        margin-top: 30rem;
    }
    .skills span.letters{
        font-size: 8rem;
    }
    .red_field h2{
        text-align: center;
    }
    .red_field h2, .skills h2, .groups h2, .practice h2, .comments .description h2 {
        font-size: 3.7rem;
    }
    .red_field .inner form div.center{
        margin-left: 33%;
    }
    .skills h2{
        max-width: 60%;
        margin: 18.4rem 0 0 0;
    }
    .skills span.notebook{
        background-size: 70.5% auto;
        margin-top: 25rem;
    }
    .skills .confirm {
        margin: 50rem 2% 3rem 25%;
        position: absolute;
    }
    .skills .slider{
        margin-top: 97%;
    }
    .skills .slider .top{
        max-width: 100%;
        padding-left: 0;
    }
    .skills .slider .description p{
        width: 100%;
        max-width: 100%;
    }
    .groups span.letters{
        font-size: 8.6rem;
    }
    .groups .inner .block div {
        margin-left: 0;
        width: 100%;
    }
    .groups h2{
        margin-top: 18rem;
        margin-bottom: 50rem;
        max-width: 60%;
    }
    .groups .inner .block .description{
        background-color: #fff;
        margin-left: -15px;
        padding: 3rem 0 16rem 1.6rem;
    }
    .groups .inner .image {
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        top: 27rem;
        max-height: 700px;
    }
    .groups .description p{
        max-width: 100%;
    }
    .groups .inner::before{
        top: 35rem;
    }
    .groups{
        padding-bottom: 0;
    }
    .groups .button{
        position: absolute;
        bottom: 10rem;
    }
    .practice span.letters {
        font-size: 9.6rem;
    }
    .practice .description p {
        max-width: 100%;
    }
    .practice .top{
        text-align: center;
    }
    .practice .top h3{
        width: 100%;
        text-align: center;
    }
    .practice .slider{
        max-width: 80%;
        margin: 0 auto;
    }
    a.button,
    .comments .inner .button{
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .skills_inner{
        padding-bottom: 5rem;
    }
    .practice .block_top{
        position: absolute;
        top: 24rem;
    }
    .practice .block_bottom{
        margin-top: 44rem;
    }
    .comments h2.dontshow{
        display: block;
    }
    .comments .text{
        margin: 25rem auto 0 auto;
        max-width: 100%;
    }
    .comments .slider {
        max-width: 100%;
        margin: 5rem auto 2rem auto;
        padding-bottom: 0;
    }
    .comments .slider ul{
        margin-bottom: 2.5rem;
    }
    .comments .slider ul li:hover:after{
        bottom: -3.6rem;
    }
    .comments .slider ul li:after{
        bottom: -2.7rem;
    }
    .comments .description h2{
        display: none;
    }
    .comments .inner .description p{
        margin-top: 3rem;
        max-width: 80%;
    }
    .comments span.letters {
        font-size: 12rem;
    }
    footer p{
        text-align: center;
    }
    .comments{
        padding-bottom: 5rem;
    }
}
@media screen and (max-width: 700px){
    .header .menu p{
        display: none;
    }
}
@media screen and (max-width: 600px){
    .header h4{
        font-size: 2rem;
    }
    h5.subtitle{
        max-width: 30rem;
        margin: 1rem auto 15rem auto;
    }
    .header .inner{
        padding-top: 2.2rem;
    }
    h1 {
        font-size: 3.2rem;
    }
    .join {
        width: 20rem;
        font-size: 2rem;
        left: -10rem;
        top: 29rem;
    }
    .dots{
        display: none;
    }
    .red_field .inner form div{
        width: 100%;
            padding-top: 1.8rem;
    }
    .red_field .inner form div.center {
        margin-left: 25%;
        width: 50%;
        min-width: 16.6rem;
        padding-top: 0;
    }
    .red_field {
        padding: 0.5rem 1.6rem 4rem 1.6rem;
    }
    .red_field input[type=text], .red_field input[type=email]{
        width: 100%;
    }
    .red_field h2{
        margin-bottom: 0;
    }
    .header .menu{
        position: absolute;
        right: calc(-100% + 1.6rem);
        top: 0;
    }
    .significance span.letters {
        font-size: 5.5rem;
        top: 1.6rem;
    }
    .significance .inner .block h2{
        font-size: 2.2rem;
        margin: 6rem auto 45rem auto;
        max-width: calc(100% - 3.2rem);
    }
    .significance span.image {
        background-size: 96% auto;
        margin-top: 17rem;
    }
    .significance .vacancies {
        width: 100%;
        margin-left: 0;
        overflow: hidden;
        height: 22rem;
    }
    .significance .vacancies .vacancy-1{
        left: -4rem;
        width: 60%;
        transform: translateX(0%);
        top: 8.5rem;
    }
    .significance .vacancies .vacancy-1:hover{
        left: 0;
        width: 75%;
    }
    .significance .vacancies .vacancy-1 h5{
        font-size: 1.2rem;
    }
    .significance .vacancies .vacancy-1 p,
    .significance .vacancies .vacancy-1 span{
        font-size: 1rem;
    }
    .significance .vacancies .vacancy-2{
        padding: 15px 20px 20px 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        bottom: 10rem;
        z-index: 4;
    }
    .significance .vacancies .vacancy-2:hover{
        width: 80%;
    }
    .significance .vacancies .vacancy-3{
        width: 50%;
    }
    .significance .vacancies .vacancy-3:hover{
        width: 75%;
    }
    .skills span.letters {
        font-size: 6.5rem;
    }
    .skills h2, .groups h2, .practice h2, .comments .description h2 {
        font-size: 2.7rem;
    }
    .skills h2 {
        margin: 16.5rem 0 0 0;
    }
    .skills span.notebook {
        background-size: 81.5% auto;
    }
    .skills .confirm{
        width: 80%;
        margin: 50rem 10% 3rem 10%;
    }
    .groups span.letters {
        font-size: 5.6rem;
    }
    .groups h2 {
        margin-top: 14.5rem;
        margin-bottom: 50rem;
        max-width: 50%;
    }
    .groups .inner .image{
        background-size: contain;
        top: 23rem;
    }
    .groups .inner .block .description{
        padding: 3rem 0 14rem 1.6rem;
    }
    .groups .button {
        bottom: 8rem;
    }
    .groups::after{
        bottom: -5rem;
    }
    .practice span.letters {
        font-size: 7rem;
    }
    .practice h2 {
        margin: 11rem 0 5rem 0;
    }
    .practice .block_top{
        top: 19rem;
    }
    .practice .slider{
        max-width: 90%;
    }
    .comments span.letters {
        font-size: 10rem;
    }
    .comments h2.dontshow {
        margin-top: 14.5rem;
    }
    .comments .text{
        margin-top: 23rem;
    }
    .comments .slider {
        max-width: 100%;
    }
    .comments .slider ul li{
        width: 25%;
    }
    .comments .slider ul li:hover{
        z-index: 10;
    }
    .comments .slider ul li a{
        display: block;
        height: 100%;
        width: 100%;
    }
    .comments .slider ul li a img{
        width: 100%;
        height: auto;
    }
    footer {
        padding: 20px 16px 10px 16px;
    }
    .header .slider{
        margin-left: 0;
    }
}
@media screen and (max-width: 500px){
    .header h4{
        margin-right: 0;
    }
    h1 {
        font-size: 2.2rem;
        line-height: 1.5;
    }
    h5.subtitle{
        line-height: 1.56;
    }
    .header .slider .center {
        width: 100%;
    }
    .red_field input[type=text], .red_field input[type=email]{
        font-size: 2.4rem;
    }
    .red_field input[type=submit]{
        font-size: 2rem;
        width: 100%;
    }
    .significance .inner .block h2{
        font-size: 1.8rem;
        line-height: 1.5;
    }
    .skills span.letters{
        font-size: 5rem;
        top: 4rem;
    }
    .skills h2 {
        margin: 12.5rem 0 0 0;
    }
    .skills span.notebook {
        background-size: 97.5% auto;
        margin-top: 21rem;
    }
    .skills .confirm{
        margin: 92% 10% 3rem 10%;
    }
    .skills .slider{
        margin-top: 120%;
    }
    .significance .vacancies .vacancy-3{
        width: 65%;
    }
    .significance .vacancies .vacancy-1:hover,
    .significance .vacancies .vacancy-2:hover,
    .significance .vacancies .vacancy-3:hover{
        width: 88%;
    }
    .significance .inner .block h2{
        margin: 6rem auto 106% auto;
    }
    .skills{
        overflow: hidden;
    }
    .skills span.notebook{
        width: 120%;
    }
    .skills .confirm {
        margin: 132% 10% 3rem 10%;
    }
    .skills .slider {
        margin-top: 145%;
        padding-left: 0;
    }
    .practice::after, .groups::after{
        height: 7rem;
        bottom: -3.5rem;
    }
    .skills_inner::after{
        display: none;
    }
    .groups::before{
        content: '';
        position: absolute;
        height: 7rem;
        width: 3px;
        top: -3.5rem;
        left: 50%;
        background-color: #000;
        z-index: 10;
    }
    .skills_inner{
        padding-bottom: 3rem;
    }
    .practice span.letters {
        font-size: 6rem;
    }
    .practice .slider {
        max-width: 100%;
    }
    .practice .slider ul {
        width: 100%;
        text-align: center;
    }
    .practice .slider ul li:nth-child(3){
        margin-right: 0;
    }
    .practice{
        padding-bottom: 7rem;
    }
    .comments .text .middle p{
        line-height: 1.2;
    }
    .button{
        font-size: 2rem;
    }
}
@media screen and (max-width: 420px){
    .significance .vacancies .vacancy-1:hover p,
    .significance .vacancies .vacancy-2:hover p,
    .significance .vacancies .vacancy-3:hover p,
    .significance .vacancies .vacancy-1:hover span,
    .significance .vacancies .vacancy-2:hover span,
    .significance .vacancies .vacancy-3:hover span{
        font-size: 1.35rem;
    }
    .skills span.letters {
        font-size: 3.7rem;
    }
    .skills h2 {
        margin: 10.5rem 0 0 0;
        font-size: 2.3rem;
    }
    .skills .slider {
        margin-top: 155%;
    }
    .header .slider a p{
        opacity: 0.6;
        margin-bottom: 6px;
    }
    .red_field h2{
        font-size: 3.6rem;
    }
    .significance span.image{
        margin-top: 21.5rem;
    }
    .significance .inner .block h2 {
        margin: 6rem auto 115% auto;
    }
    .red_field input[type=submit]{
        min-width: 16.6rem;
        margin-left: calc((100% - 16.6rem)/2);
    }
    .skills .confirm{
        min-width: 260px;
    }
    .skills .slider .description h4,
    .groups .description h4,
    .practice .description h4{
        font-size: 2rem;
    }
    .skills .slider .description p,
    .groups .description p,
    .practice .description p,
    .comments .inner .description p{
        font-size: 1.6rem;
        line-height: 1.31;
    }
    .practice .description p{
        max-width: 97%;
    }
    .groups span.letters {
        font-size: 4.5rem;
    }
    .groups h2,
    .practice h2{
        font-size: 2.3rem;
    }
    .red_field input[type=text], .red_field input[type=email] {
        font-size: 2rem;
    }
    .groups h2 {
        margin-top: 13.5rem;
        margin-bottom: 35rem;
    }
    .groups .inner .image {
        top: 21rem;
    }
    .practice span.letters{
        font-size: 5.7rem;
    }
    .practice .slider {
        padding: 3.5rem 1.6rem 0 3.6rem;
    }
    .practice .slider h3 {
        font-size: 3rem;
    }
    .practice .slider h5,
    .practice .slider p{
        font-size: 1.4rem;
    }
    .comments span.letters {
        font-size: 8.3rem;
        top: 20px;
    }
    .comments h2.dontshow{
        font-size: 2.3rem;
        margin-top: 9.5rem;
    }
    .comments .text {
        margin-top: 15rem;
        padding: 2.2rem 3rem;
    }
    .comments .text .top div p, .comments .text .bottom p, .comments .text .middle p{
        font-size: 1.4rem;
    }
    .comments .text .top div h5{
        font-size: 1.6rem;
    }
    .comments .text .bottom h3{
        font-size: 3.5rem;
    }
    .comments .text .top img{
        max-width: 55px;
    }
    .comments .slider ul li:after{
        height: 7px;
    }
    .comments .slider ul li a img {
        width: 80%;
        margin: 10%;
    }
    .comments .inner .description{
        padding-left: 0;
    }
    .practice .top p{
        margin-bottom: 3.8rem;
    }
    .practice .block_top {
        top: 17rem;
    }
    .significance .vacancies{
        height: 24rem;
    }
    .significance .inner .block h2{
        max-width: 100%;
    }
    .skills .button,
    .groups .button,
    .practice .button,
    .comments .button
    {
        max-width: 23.8rem;
    }
    .groups .button
    {
        transform: translateX(0);
        margin-left: calc((100% - 27rem)/2);
    }
    .skills .slider .top a:hover::after{
        width: 100%;
    }
    .skills .slider .top a img{
    }
    .skills .slider .top p{
        font-size: 1.15rem;
    }
}
@media screen and (max-width: 350px){
    h1{
        margin-left: -15px;
        margin-right: -15px;
    }
    .red_field h2 {
        font-size: 3.35rem;
    }
    .confirm p{
        font-size: 1.1rem;
    }
    .confirm_inner a{
        font-size: 1.6rem;
    }
    .skills .confirm {
        margin: 138% 0 3rem 0;
        margin-left: calc((100% - 260px)/2);
    }
    .practice span.letters {
        font-size: 5.2rem;
    }
    .practice .top h3{
        margin: 1rem 0 0.8rem 0;
    }
    .practice .block_top{
        padding-right: 0;
        padding-left: 0;
    }
    .practice .slider {
        padding: 3.5rem 1.6rem 0 2.6rem;
        max-width: 95%;
    }
    .practice .slider h3{
        margin: 1rem 0 3rem 0;
    }
    .practice .description h4{
        margin: 0 0 1.5rem 0;
    }
    .comments h2.dontshow{
        margin: 9.5rem 0 0 1.6rem;
    }
    .comments .text .top div p, .comments .text .bottom p, .comments .text .middle p {
        font-size: 0.95rem;
    }
    .comments .text .top div {
        margin: 0 0 0 1.3rem;
    }
    .comments .text .middle {
        margin: 1.3rem 0 0 0;
    }
    .comments .text .bottom h3 {
        font-size: 2.8rem;
    }
    .comments .text .middle p {
        margin-bottom: 0.6rem;
    }
    .comments .text .bottom div img{
        max-width: 10px;
    }
    .comments .inner .description p {
        margin-top: 2rem;
    }
    .first_skill img{
        width: 28.3px;
    }
    .second_skill img{
        width: 58.5px;
    }
    .third_skill img{
        width: 23.5px;
    }
}