a, a:hover, a:focus, a:visited, a:active{
    text-decoration: none;
    outline: none;
}
a.button, a.button:hover, a.button:focus, a.button:visited, a.button:active{
    color: #fff;
}
html { font-size: 62.5%; }  /* =10px */
body {
    font-size: 1.6rem;
    font-family: 'Alegreya Sans';
    color: #000;
} /* =16px */
.exp-inner{
    display: block;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.exp_container{
    padding: 0;
}
.header{
    display: block;
    height: 835px;
    position: relative;
    color: #fff;
    overflow: hidden;
    background-image: url(../img/header_bg.jpg);
    background-size: cover;
}
.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    mix-blend-mode: overlay;
    background-image: radial-gradient(circle at 49% 52%, #5a8789, #1b333d);
    background-blend-mode: multiply;
    opacity: 0.67;
}
.inner{
    display: block;
    margin: 0 auto;
    max-width: 1140px;
}
.header .inner{
    position: relative;
    padding-top: 5.4rem;
}
.header h4{
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.18;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    max-width: 13.6rem;
    margin: 0 6rem 5rem 0;
}
.header .menu{
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-top: 1rem;
}
.header .menu span{
    display: inline-block;
    width: 2.5rem;
    height: 1.2rem;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.header .menu p{
    display: inline;
    padding-left: 2rem;
    font-size: 2.4rem;
    line-height: 0.83;
    text-align: left;
}
.join{
    display: inline-block;
    float: right;
    position: absolute;
    right: 15px;
    top: 0;
    color: #fff;
    width: 26rem;
    height: 6.4rem;
    border: 1px solid #fff;
    border-radius: 40.5px;
    text-align: center;
    line-height: 6.4rem;
    font-size: 2rem;
    font-weight: bold;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    text-decoration: none;
}
.join:hover{
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    text-decoration: none;
}
h1{
    font-size: 8rem;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.6rem;
}
h5.subtitle{
    font-family: 'Roboto Condensed';
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 4.2rem;
}
.dots{
    position: absolute;
    top: 42rem;
    left: 5%;
}
.dots ul{
    list-style-type: none;
    -webkit-padding-start: 0;
}
.dots ul li{
    display: block;
    margin: 1rem;
    width: 1rem;
    height: 1rem;
    padding: .9rem;
    position: relative;
}
.dots ul li span{
    display: block;
    background-color: #fff;
    width: .5rem;
    height: .5rem;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.dots ul li span:before{
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 1rem;
    left: .9rem;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.dots ul li:hover span{
    height: 1rem;
    width: 1rem;
    background-color: #ff5448;
    margin-top: -2px;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    margin-left: 4rem;
}
.dots ul li:hover span:before{
    width: 2.7rem;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.slider{
    padding: 0;
}
.header .slider div{
    display: inline-block;
    vertical-align: top;
}
.header .slider a{
    display: inline-block;
    width: 100%;
}
.header .slider a img{
    width: 100%;
}
.header .slider .left{
    margin: 54px -10% 0 -20px;
    float: left;
    width: 34%;
}
.header .slider .right{
    margin: 54px -20px 0 -10%;
    text-align: right;
    float: right;
    width: 34%;
}
.header .slider .center{
    text-align: center;
    width: 55%;
}
.header .slider a p{
    color: #fff;
    max-width: 100%;
    margin-bottom: -10px;
}
.header .slider .left a p{
    margin: 0 0 -10px 20px;
}
.header .slider .right a p {
    margin: 0 20px -10px 0;
}
.red_field{
    display: block;
    padding: 3.2rem 23rem 4rem 23rem;
    position: relative;
    background-color: #ff5448;
}
.red_field h2{
    color: #fff;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    line-height: 1.47;
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 2.7rem;
}
.red_field input[type=text],
.red_field input[type=email]{
    border-width: 1px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    background-color: #ff5448;
    width: 97%;
    outline: none;
    color: #fff;
    font-size: 2rem;
    height: 5rem;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.red_field input[type=submit]{
    width: 26.3rem;
    height: 6.4rem;
    background-color: #fff;
    text-align: center;
    line-height: 6.4rem;
    border: none;
    border-radius: 4rem;
    outline: none;
    font-size: 2rem;
    font-weight: bold;
}
.block{
    margin-left: 0;
    margin-right: 0;
}
.groups, .comments, .significance{
    position: relative;
    font-family: 'Roboto Condensed';
    padding-bottom: 10rem;
    max-width: 1600px;
    margin: 0 auto;
}
.significance{
    padding-bottom: 6rem;
}
.significance span.letters {
    position: absolute;
    font-family: 'Roboto Condensed';
    font-size: 25rem;
    font-weight: bold;
    line-height: 0.84;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    text-shadow: 0 -13px 16px rgba(0, 0, 0, 0.05);
    top: 54px;
    text-transform: uppercase;
    max-width: 1615px;
    width: 100%;
    overflow: hidden;
    padding-top: 16px;
}
.significance span.image {
    background-image: url(../img/right-macbook.png);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 90px);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 44.3% auto;
    margin-top: 104px;
}
.significance .inner .block h2{
    font-size: 3.8rem;
    font-weight: bold;
    line-height: 1.47;
    max-width: 57rem;
    margin: 20.2rem -15px 13rem -15px;
    text-transform: uppercase;
}
.significance .vacancies{
    width: calc(50% - 5rem);
    position: relative;
    margin-left: 50%;
    bottom: 0;
    height: 20rem;
}
.significance .vacancies .vacancy{
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.14);
    text-align: left;
    font-family: 'Alegreya Sans';
    display: inline-block;
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px);
    padding: 15px 20px 20px 20px;
    position: absolute;
    background-color: #fff;
    transition: all ease-in-out .4s;
}
.significance .vacancies .vacancy-1 h5{
    font-size: 1.5rem;
    font-weight: bold;
    transition: all ease-in-out .4s;
    margin: 0 0 7px 0;
}
.significance .vacancies .vacancy-1 p{
    display: inline-block;
    margin: 0 2rem 0 0;
    font-size: 1.3rem;
    color: #7c7c7c;
    vertical-align: top;
    transition: all ease-in-out .4s;
}
.significance .vacancies .vacancy-1 span{
    display: inline-block;
    font-size: 1.3rem;
    color: #7c7c7c;
    vertical-align: top;
    transition: all ease-in-out .4s;
}
.significance .vacancies .vacancy-2 h5,
.significance .vacancies .vacancy-3 h5{
    font-size: 1.2rem;
    font-weight: bold;
    transition: all ease-in-out .4s;
    margin: 0 0 7px 0;
}
.significance .vacancies .vacancy-2 p,
.significance .vacancies .vacancy-3 p{
    display: inline-block;
    margin: 0 1.5rem 0 0;
    font-size: 1rem;
    color: #7c7c7c;
    vertical-align: top;
    transition: all ease-in-out .4s;
}
.significance .vacancies .vacancy-2 span,
.significance .vacancies .vacancy-3 span{
    display: inline-block;
    font-size: 1rem;
    color: #7c7c7c;
    vertical-align: top;
    transition: all ease-in-out .4s;
}
.significance .vacancies .vacancy-1{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 46%;
    z-index: 3;
    transition: all ease-in-out .4s;
}
.significance .vacancies .vacancy-2{
    left: 0;
    bottom: 20px;
    width: 33%;
    padding: 15px 20px 7px 20px;
    transition: all ease-in-out .4s;
}
.significance .vacancies .vacancy-3{
    right: 0;
    bottom: 20px;
    width: 33%;
    padding: 15px 20px 7px 20px;
    transition: all ease-in-out .4s;
}
.significance .vacancies .vacancy:hover{
    -webkit-filter: blur(0px);
    filter: blur(0px);
    z-index: 10;
    width: 60%;
    transition: all ease-in-out .4s;
    padding: 28px 30px;
    box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
}
.significance .vacancies .vacancy:hover h5{
    font-size: 2rem;
    font-weight: bold;
    transition: all ease-in-out .4s;
    margin: 0 0 1.5rem 0;
}
.significance .vacancies .vacancy:hover p{
    margin: 0 3rem 0 0;
    font-size: 1.6rem;
}
.significance .vacancies .vacancy:hover span{
    font-size: 1.6rem;
}
.practice{
    position: relative;
    font-family: 'Roboto Condensed';
    padding-bottom: 10rem;
    background-color: #f2f2f2;
}
.skills{
    font-family: 'Roboto Condensed';
    padding-bottom: 10rem;
    background-color: #f2f2f2;
}
.skills_inner{
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}
.skills_inner::after,
.practice::after,
.groups::after{
    content: '';
    position: absolute;
    bottom: -5rem;
    left: 50%;
    width: 3px;
    height: 10rem;
    background-color: #000;
    z-index: 10;
}
.skills_inner::after{
    bottom: -15rem;
}
.skills span.letters{
    position: absolute;
    font-size: 25rem;
    font-weight: bold;
    line-height: 0.84;
    letter-spacing: normal;
    text-align: left;
    color: #f2f2f2;
    text-shadow: 0 -13px 16px rgba(0, 0, 0, 0.05);
    left: -15px;
    top: 61px;
    text-transform: uppercase;
    max-width: 1615px;
    overflow: hidden;
    width: calc(100% + 15px);
    padding-top: 16px;
}
.skills span.notebook{
    background-image: url(../img/notebook.png);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 45.5% auto;
    margin-top: 90px;
}
.skills h2{
    margin: 22.4rem 0 4rem 0;
    font-size: 6rem;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    max-width: 61rem;
    text-transform: uppercase;
}
.skills .slider .top{
    display: block;
    max-width: 45rem;
    border-bottom: solid 2px rgba(151, 151, 151, .34);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 2rem;
}
.skills .slider .top a{
    text-align: center;
    position: relative;
    width: 33%;
}
.skills .slider{
    position: relative;
    padding-left: 1rem;
}
.skills .slider .top p{
    margin: 0.7rem 0 .4rem 0;
    opacity: 0.5;
    font-size: 1.4rem;
    line-height: 1.14;
    color: #000;
    display: block;
    transition: all ease-in-out .4s;
}
.skills .slider .top a::after{
    position: absolute;
    content:'';
    display: block;
    height: 1rem;
    width: 0;
    transition: all ease-in-out .4s;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
}
.skills .slider .top a:hover::after{
    width: 11.1rem;
    background-color: #ff5448;
    transition: all ease-in-out .4s;
}
.skills .slider .top a:hover p{
    opacity: 0;
}
.skills .slider .description h4{
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin: 0 0 1.5rem 0;
}
.skills .slider .description p{
    max-width: 47rem;
    width: 47rem;
    font-size: 2.4rem;
    line-height: 1.21;
    text-align: left;
    color: #000;
    margin-bottom: 4rem;
    font-family: 'Alegreya Sans';
}
.button{
    width: 28.2rem;
    height: 6.4rem;
    border-radius: 3.5rem;
    background-color: #ff5448;
    display: block;
    text-align: center;
    line-height: 6.4rem;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    transition: all ease-in-out .4s;
    outline: none;
    border: none;
}
.button:hover{
    color: #fff;
    transition: all ease-in-out .4s;
}
.skills .confirm{
    margin: 65.5rem 0 0 4.5%;
    width: 44.5%;
    height: 140px;
    background-color: #ffffff;
    display: block;
    padding-top: 1.2rem;
    text-align: center;
    max-width: 51rem;
}
.confirm_inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm_inner a{
    width: 9.1rem;
    height: 3.5rem;
    border-radius: 10rem;
    border: solid 1px #000000;
    display: inline-block;
    font-size: 2rem;
    line-height: 3.5rem;
    color: #000;
    vertical-align: top;
    margin-top: 3px;
}
.confirm_inner ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    height: 7rem;
}
.confirm_inner ul li{
    display: inline-block;
    margin-left: -10px;
    cursor: pointer;
    position: relative;
}
.confirm_inner ul li img{
    width: 4rem;
    transition: all ease-in-out .4s;
    position: relative;
}
.confirm_inner ul li:first-child{
    z-index: 4;
}
.confirm_inner ul li:nth-child(2){
    z-index: 3;
}
.confirm_inner ul li:nth-child(3){
    z-index: 2;
}
.confirm_inner ul li:after{
    content: '';
    position: absolute;
    height: 90%;
    width: 90%;
    display: block;
    background-color: rgba(0, 0, 0, 0.47);
    top: 5%;
    left: 5%;
    border-radius: 50%;
    transition: all ease-in-out .4s;
    opacity: 0;
}
.confirm_inner ul li:before{
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    display: block;
    background-image: url(../img/cross.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    transition: all ease-in-out .4s;
    opacity: 0;
}
.confirm_inner ul li:hover:before,
.confirm_inner ul li:hover:after{
    opacity: 1;
}
.confirm_inner ul li:hover img{
    width: 7rem;
    transition: all ease-in-out .4s;
}
.confirm p{
    opacity: 0.5;
    font-size: 1.4rem;
    line-height: 1.14;
    text-align: center;
    color: #000;
    margin: 0.3rem;
}
.groups .inner{
    position: relative;
}
.groups .inner .image{
    display: block;
    height: 110%;
    width: 48.3%;
    background-image: url(../img/groups.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 9rem;
    left: 4px;
}
.groups::after{
    bottom: -12.6rem;
}
.groups .button, .comments .button{
    width: 30rem;
}
.groups .inner::before{
    content: '';
    position: absolute;
    display: block;
    width: 261px;
    height: 1249px;
    opacity: 0.3;
    -webkit-filter: blur(35.9px);
    filter: blur(35.9px);
    background-image: linear-gradient(to right, #ffffff, #000000);
    bottom: -700px;
    left: -110px;
}
.groups span.letters {
    position: absolute;
    font-family: 'Roboto Condensed';
    font-size: 23.8rem;
    font-weight: bold;
    line-height: 0.888;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    text-shadow: 0 -13px 16px rgba(0, 0, 0, 0.05);
    left: -15px;
    top: 58px;
    text-transform: uppercase;
    max-width: 1615px;
    width: calc(100% + 15px);
    overflow: hidden;
    padding-top: 16px;
}
.groups h2{
    margin-top: 20rem;
    font-family: 'Roboto Condensed';
    font-size: 6rem;
    font-weight: bold;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
}
.groups .description h4{
    font-family: 'Alegreya Sans';
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.13;
    width: 100%;
    max-width: 31rem;
    margin-bottom: 1.6rem;
}
.groups .description p{
    font-family: 'Alegreya Sans';
    font-size: 2.4rem;
    line-height: 1.21;
    width: 100%;
    max-width: 42.5rem;
    margin-bottom: 4rem;
}
.practice span.letters {
    position: absolute;
    font-size: 24.1rem;
    font-weight: bold;
    line-height: 0.87;
    letter-spacing: normal;
    text-align: center;
    color: #f2f2f2;
    text-shadow: 0 -13px 16px rgba(0, 0, 0, 0.05);
    left: 50%;
    transform: translateX(-50%);
    top: 57px;
    text-transform: uppercase;
    max-width: 1600px;
    width: 100%;
    overflow: hidden;
    padding-top: 16px;
}
.practice .block{
    padding: 0;
}
.practice h2{
    font-family: 'Roboto Condensed';
    font-size: 6rem;
    font-weight: bold;
    line-height: 1.17;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    margin: 21rem 0 5rem 0;
}
.practice .description h4{
    font-family: 'Alegreya Sans';
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.13;
    max-width: 40rem;
    margin-bottom: 2.5rem;
}
.practice .description p{
    font-family: 'Alegreya Sans';
    max-width: 51rem;
    font-size: 2.4rem;
    line-height: 1.21;
    text-align: left;
    color: #000;
    margin-bottom: 4rem;
}
.practice .top h3{
    font-size: 12rem;
    font-weight: bold;
    line-height: 0.73;
    text-align: left;
    color: #000;
    display: inline-block;
    vertical-align: top;
    margin: 1rem 2rem 0.8rem 0;
}
.practice .top p{
    font-family: 'Alegreya Sans';
    font-size: 3.2rem;
    margin: 0 0 2.8rem 0;
}
.practice .button{
    width: 30rem;
}
.practice .slider{
    width: 46rem;
    height: 23rem;
    background-color: #fff;
    background-color: var(--white);
    box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
    border: solid 1px #000;
    padding: 5rem 4.6rem 0 4.6rem;
    position: relative;
}
.practice .slider h3{
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.15;
    font-family: 'Roboto Condensed';
    margin: 0 0 4rem 0;
}
.practice .slider h5{
    opacity: 0.8;
    font-family: 'Alegreya Sans';
    font-size: 1.6rem;
    font-weight: 300;
    color: #000;
    margin: 0 0 .7rem 0;
}
.practice .slider p{
    font-family: 'Alegreya Sans';
    font-size: 1.8rem;
}
.practice .slider .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 7rem;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: -35px;
    right: 24px;
    border-radius: 50%;
    box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
}
.practice .slider ul{
    position: absolute;
    bottom: -6rem;
    left: 0;
}
.practice .slider ul li{
    display: inline-block;
    width: 6.8rem;
    height: 1rem;
    margin-right: 3rem;
}
.practice .slider ul li span{
    width: 100%;
    height: 2px;
    background-color: #9b9b9b;
    display: inline-block;
    transition: all ease-in-out .4s;
}
.practice .slider ul li:hover span,
.practice .slider ul .special span{
    height: 5px;
    background-color: #ff5448;
    transition: all ease-in-out .4s;
}
.comments span.letters {
    position: absolute;
    font-size: 24.1rem;
    font-weight: bold;
    line-height: 0.87;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    text-shadow: 0 -13px 16px rgba(0, 0, 0, 0.05);
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    text-transform: uppercase;
    max-width: 1600px;
    width: 100%;
    overflow: hidden;
    padding-top: 16px;
}
.comments h2.dontshow{
    display: none;
    font-size: 3.7rem;
    margin: 17rem 0 0 5.6rem;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    line-height: 1.17;
    text-transform: uppercase;
    position: absolute;
}
.comments .text{
    max-width: 56rem;
    width: 100%;
    box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
    display: block;
    margin-top: 17.5rem;
    background-color: #fff;
    padding: 3.2rem 12rem 3.2rem 7.2rem;
    font-family: 'Alegreya Sans';
}
.comments .text .top div{
    display: inline-block;
    margin:0 0 0 2.3rem
}
.comments .text .top img{
    vertical-align: top;
    margin-left: 6px;
}
.comments .text .top div h5{
    font-size: 2rem;
    margin-bottom: 0;
}
.comments .text .top div p,
.comments .text .bottom p,
.comments .text .middle p{
    opacity: 0.4;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}
.comments .text .middle{
    margin: 2.3rem 0 0 0;
}
.comments .text .bottom div{
    display: inline-block;
}
.comments .text .bottom p{
    margin-bottom: 0;
    margin-top: 7px;
}
.comments .text .bottom h3{
    font-family: 'Roboto Condensed';
    font-size: 4rem;
    font-weight: bold;
    display: inline-block;
    margin: 0 0 0 2rem;
    vertical-align: top;
}
.comments .description h2{
    margin: 25rem 0 2rem 0;
    font-family: 'Roboto Condensed';
    font-size: 6rem;
    font-weight: bold;
    line-height: 1.17;
    text-transform: uppercase;
}
.comments .description p{
    max-width: 39rem;
    font-family: 'Alegreya Sans';
    font-size: 2.4rem;
    line-height: 1.21;
    margin-bottom: 4rem;
}
.comments .slider{
    display: block;
    max-width: 56rem;
    width: 100%;
    border-bottom: solid 2px rgba(151, 151, 151, 0.34);
    margin-top: 5rem;
    padding-bottom: 2.5rem;
}
.comments .slider ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comments .slider ul li{
    display: inline-block;
    transition: all ease-in-out .4s;
    position: relative;
}
.comments .slider ul li:hover{
    box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
    transition: all ease-in-out .4s;
    margin-top: -2rem;
}
.comments .slider ul li:after {
    content: '';
    position: absolute;
    bottom: -3.6rem;
    left: 50%;
    width: 0;
    height: 10px;
    background-color: #ff5448;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.comments .slider ul li:hover:after {
    width: 100%;
    bottom: -4.6rem;
    left: 0;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.comments .slider ul li::before{
    content: '';
    position: absolute;
    top: -5rem;
    left: 30%;
    width: 0;
    height: 0;
    opacity: 0;
    border-width: 12px 10px 12px 10px;
    border-color: #fff transparent transparent #fff;
    border-style: solid;
    transition: all ease-in-out 0.4s;
}
.comments .slider ul li:hover::before{
    transition: all ease-in-out 0.4s;
    top: -4rem;
    opacity: 1;
}
footer{
    padding: 28px 0 25px 0;
    background-color: #000;
}
footer p{
    opacity: 0.6;
    font-family: 'Alegreya Sans';
    font-size: 1.6rem;
    color: #fff;
}
#myModal .modal_dialog{
    top: 0;
    left: 0;
    margin: 30px auto;
    width: 71rem;
}
#myModal .modal_content{
    background-color: #ffffff;
    box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    padding: 28px 75px 30px 75px;
}
#myModal .modal_content .modal_body{
    padding: 0;
}
#myModal .modal_content .modal_body a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
#myModal .modal_content h4{
    font-family: 'Alegreya Sans';
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.13;
    text-align: center;
    color: #000;
    margin-bottom: 30px;
}
#myModal .modal_content .modal_body a img{
    margin-right: 50px;
}
#myModal .modal_content .modal_body a p{
    font-family: 'Alegreya Sans';
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.21;
    text-align: left;
    color: #000;
}