@font-face {
font-family: 'RobotoCondensed-Bold';
src: url('../fonts/RobotoCondBold/RobotoCondensed-Bold.woff') format('woff'),

url('../fonts/RobotoCondBold/RobotoCondensed-Bold.ttf') format('truetype');
font-weight: normal;
  font-style: normal;

}


@font-face {
font-family: 'roboto-condensed.bold';
src: url('../fonts/RobotoCondBold/roboto-condensed.bold.eot');
src: url('../fonts/RobotoCondBold/roboto-condensed.bold.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;

}

